body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
canvas{
  position: absolute;
}
#video {
  /*margin-top: 220px;*/
  margin-top: 140px;
}
.buttons {
  position:flex;
  align-items: center;
  margin-left: 33%;
}